<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script src="/javascripts/signup.js" defer></script>
    <title>Signup</title>
  </head>
  <body>
    <main>
      <form action="/auth/signup" method="post">
        <p class="field">
          <label for="first_name">First Name</label>
          <input
            autocomplete="name"
            required
            type="text"
            id="first_name"
            name="first_name"
            value="<%=firstName%>"
            minlength="1"
            maxlength="60"
            pattern="[A-Za-z]{1,60}"
          />
        </p>
        <p class="field">
          <label for="last_name">Last Name</label>
          <input
            autocomplete="family-name"
            required
            type="text"
            id="last_name"
            name="last_name"
            value="<%=lastName%>"
            minlength="1"
            maxlength="60"
            pattern="[A-Za-z]{1,60}"
          />
        </p>
        <p class="field">
          <label for="username">Username</label>
          <input
            autocomplete="username"
            required
            type="text"
            id="username"
            name="username"
            value="<%=username%>"
            minlength="3"
            maxlength="35"
            pattern="[A-Za-z0-9]{3,35}"
          />
        </p>
        <p class="field">
          <label for="password">Password</label>
          <input
            required
            autocomplete="new-password"
            type="password"
            id="password"
            name="password"
            value="<%=password%>"
            minlength="8"
            maxlength="128"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,128}$"
          />
        </p>
        <p class="field">
          <label for="password_confirm">Confirm Password</label>
          <input
            required
            autocomplete="new-password"
            type="password"
            id="password_confirm"
            name="password_confirm"
            value="<%=passwordConfirm%>"
          />
        </p>
        <div class="action-buttons">
          <button>Signup</button>
          <a href="/auth/login">I have an account</a>
        </div>
        <% if(errors.length!=0){%>

        <div class="errors">
          <ul>
            <% for(const error of errors){%>
              <li class="error">
                <img src="/images/cross.svg" alt="">
                <%=error.msg%>
              </li>
            <%}%>
          </ul>
        </div>
        
        <%}%>
      </form>
    </main>
  </body>
</html>
