<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MO: Members Only</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index/main-public.css" />
    <link rel="stylesheet" href="/stylesheets/index/main-unverified.css" />
    <link rel="stylesheet" href="/stylesheets/index/unverified.css" />
    <script src="/javascripts/index/main.js" defer></script>
    <script src="/javascripts/index/unverified.js" defer></script>
  </head>
  <body>
    <%- include('main_nav',{isPublic:false,isVerified:false}) %>
    <%- include('partials/welcome',{username}) %>
    <main>
      <div class="posts">
        <%for(const post of posts){%>
        <article class="post">
          <p class="title"><%=post.title%></p>
          <p class="description"><%=post.description%></p>
        </article>
        <%}%>
      </div>
    </main>
    <div class="dialogs">
      <%- include('at_least_unverified_dialogs') %>
      <%- include('partials/post_detail_dialog',{isVerified:false,isAdmin:false}) %>
      <dialog id="join-dialog">
        <form method="dialog">
          <section class="field">
            <label for="passcode">Enter secret passcode to join</label>
            <input
              type="text"
              maxlength="50"
              required
              id="passcode"
              name="passcode"
            />
          </section>
          <div class="action-buttons">
            <button>Join</button>
            <button formnovalidate id="cancel-join-form-button">Cancel</button>
          </div>
        </form>
      </dialog>
    </div>
  </body>
</html>
